# Archivos de instalación
*.msi
*.exe

# Dependencias
node_modules/
package-lock.json
yarn.lock

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
